# Environment
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime and local test files
storage/logs/*.log
storage/testing/*
!storage/logs/.gitkeep
!storage/testing/.gitkeep
database/*.sqlite
vendor/
