{% extends 'base.html' %}
{% load static %}

{% block title %}
Yeti Autohuolto | Professional Auto Service
{% endblock %}




{% block content %}

{% include 'includes/hero.html' %}

{% include 'includes/why_choose_us.html' %}

{% include 'includes/services.html' %}

{% include 'includes/reviews.html' %}

{% include 'includes/cta.html' %}

{% include 'includes/contact.html' %}

{% include 'includes/map.html' %}

{% include 'includes/about.html' %}
{% include 'includes/contact_preview.html' %}




{% endblock %}