{% extends 'base.html' %}
{% load static %}

{% block title %}
Yeti Autohuolto | Professional Auto Service
{% endblock %}




{% block content %}

{% include 'includes/home/hero.html' %}

{% include 'includes/home/why_choose_us.html' %}

{% include 'includes/home/services.html' %}

{% include 'includes/reviews.html' %}

{% include 'includes/home/cta.html' %}

{% include 'includes/contact.html' %}

{% include 'includes/map.html' %}

{% include 'includes/home/about_preview.html' %}
{% include 'includes/home/contact_preview.html' %}




{% endblock %}