body{
    font-family:'Poppins',sans-serif;
}

.custom-navbar{
    background:#ffffff;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    padding:15px 0;
    transition: 35s;
}

.logo-text{
    font-size:1.7rem;
    font-weight:700;
    color:#0F172A;
    text-decoration:none;
}

.logo-text span{
    color:#F97316;
}

.navbar-nav .nav-link{
    color:#1F2937;
    font-weight:500;
    margin:0 12px;
    transition:.3s;
}

.navbar-nav .nav-link:hover{
    color:#F97316;
}

.navbar-nav .active{
    color:#F97316 !important;
}

.btn-warning{
    background:#F97316;
    border:none;
}

.btn-warning:hover{
    background:#ea580c;
}